{% extends 'layout.html' %}

{% block title %} <title>add user</title> {% endblock title %}


{% block body %}

    <div class='form'>
        <form method="POST" action="">

            {{ form.first_name.label }}
            {{ form.first_name }}

            <!-- {% if form.first_name.errors %}
                <div class='errors'>   
                    {% for error in form.first_name.errors %}
                    <p>  {{ error }} </p>
                    {% endfor %}
                </div>
            {% endif %} -->
            <br>
            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>
            {{ form.dob.label }}
            {{ form.dob }}
            <br>
            {{ form.favourite_number.label }}
            {{ form.favourite_number }}
            <br>
            {{ form.favourite_food.label }}
            {{ form.favourite_food }}
            <br>
            {{ form.submit }}
            <br>
            {{ message }}

  

        </form>
    </div>

{% endblock body %}



   