{% extends 'layout.html' %}

{% block title %} <title>Index</title> {% endblock title %}


{% block body %}
<form>
        <br/>
    <label for="text_user">Enter User Name</label>
    <input id="text_user" type="text" value="" placeholder="User Name" required>
        <br/>
        <br/>
    <label for="text_pass">Enter Password</label>
    <input id="text_pass" type="password" value="" placeholder="Password" minlength="8" required>
        <br/>
    <button type="submit">Login</button>
</form>

{% endblock body %}